.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #eee;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}
