/* src/pages/MoviesPage/MoviesPage.module.css */
.moviesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  margin: 20px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieLink {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.movieImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

h3 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}


