.movieList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieItem {
  margin: 10px;
}

.movieImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.movieTitle {
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

